<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.nepm.mbg.mapper.AqiFeedbackMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.nepm.mbg.model.AqiFeedback">
    <id column="af_id" jdbcType="INTEGER" property="afId" />
    <result column="tel_id" jdbcType="VARCHAR" property="telId" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="information" jdbcType="VARCHAR" property="information" />
    <result column="estimated_grade" jdbcType="INTEGER" property="estimatedGrade" />
    <result column="af_date" jdbcType="VARCHAR" property="afDate" />
    <result column="af_time" jdbcType="VARCHAR" property="afTime" />
    <result column="gm_id" jdbcType="INTEGER" property="gmId" />
    <result column="assign_date" jdbcType="VARCHAR" property="assignDate" />
    <result column="assign_time" jdbcType="VARCHAR" property="assignTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    af_id, tel_id, province_id, city_id, address, information, estimated_grade, af_date, 
    af_time, gm_id, assign_date, assign_time, state, remarks
  </sql>
  <select id="selectByExample" parameterType="com.neusoft.nepm.mbg.model.AqiFeedbackExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from aqi_feedback
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from aqi_feedback
    where af_id = #{afId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from aqi_feedback
    where af_id = #{afId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neusoft.nepm.mbg.model.AqiFeedbackExample">
    delete from aqi_feedback
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neusoft.nepm.mbg.model.AqiFeedback">
    insert into aqi_feedback (af_id, tel_id, province_id, 
      city_id, address, information, 
      estimated_grade, af_date, af_time, 
      gm_id, assign_date, assign_time, 
      state, remarks)
    values (#{afId,jdbcType=INTEGER}, #{telId,jdbcType=VARCHAR}, #{provinceId,jdbcType=INTEGER}, 
      #{cityId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{information,jdbcType=VARCHAR}, 
      #{estimatedGrade,jdbcType=INTEGER}, #{afDate,jdbcType=VARCHAR}, #{afTime,jdbcType=VARCHAR}, 
      #{gmId,jdbcType=INTEGER}, #{assignDate,jdbcType=VARCHAR}, #{assignTime,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.nepm.mbg.model.AqiFeedback">
    insert into aqi_feedback
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="afId != null">
        af_id,
      </if>
      <if test="telId != null">
        tel_id,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="information != null">
        information,
      </if>
      <if test="estimatedGrade != null">
        estimated_grade,
      </if>
      <if test="afDate != null">
        af_date,
      </if>
      <if test="afTime != null">
        af_time,
      </if>
      <if test="gmId != null">
        gm_id,
      </if>
      <if test="assignDate != null">
        assign_date,
      </if>
      <if test="assignTime != null">
        assign_time,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="afId != null">
        #{afId,jdbcType=INTEGER},
      </if>
      <if test="telId != null">
        #{telId,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="information != null">
        #{information,jdbcType=VARCHAR},
      </if>
      <if test="estimatedGrade != null">
        #{estimatedGrade,jdbcType=INTEGER},
      </if>
      <if test="afDate != null">
        #{afDate,jdbcType=VARCHAR},
      </if>
      <if test="afTime != null">
        #{afTime,jdbcType=VARCHAR},
      </if>
      <if test="gmId != null">
        #{gmId,jdbcType=INTEGER},
      </if>
      <if test="assignDate != null">
        #{assignDate,jdbcType=VARCHAR},
      </if>
      <if test="assignTime != null">
        #{assignTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.nepm.mbg.model.AqiFeedbackExample" resultType="java.lang.Integer">
    select count(*) from aqi_feedback
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update aqi_feedback
    <set>
      <if test="record.afId != null">
        af_id = #{record.afId,jdbcType=INTEGER},
      </if>
      <if test="record.telId != null">
        tel_id = #{record.telId,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceId != null">
        province_id = #{record.provinceId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null">
        city_id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.information != null">
        information = #{record.information,jdbcType=VARCHAR},
      </if>
      <if test="record.estimatedGrade != null">
        estimated_grade = #{record.estimatedGrade,jdbcType=INTEGER},
      </if>
      <if test="record.afDate != null">
        af_date = #{record.afDate,jdbcType=VARCHAR},
      </if>
      <if test="record.afTime != null">
        af_time = #{record.afTime,jdbcType=VARCHAR},
      </if>
      <if test="record.gmId != null">
        gm_id = #{record.gmId,jdbcType=INTEGER},
      </if>
      <if test="record.assignDate != null">
        assign_date = #{record.assignDate,jdbcType=VARCHAR},
      </if>
      <if test="record.assignTime != null">
        assign_time = #{record.assignTime,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update aqi_feedback
    set af_id = #{record.afId,jdbcType=INTEGER},
      tel_id = #{record.telId,jdbcType=VARCHAR},
      province_id = #{record.provinceId,jdbcType=INTEGER},
      city_id = #{record.cityId,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      information = #{record.information,jdbcType=VARCHAR},
      estimated_grade = #{record.estimatedGrade,jdbcType=INTEGER},
      af_date = #{record.afDate,jdbcType=VARCHAR},
      af_time = #{record.afTime,jdbcType=VARCHAR},
      gm_id = #{record.gmId,jdbcType=INTEGER},
      assign_date = #{record.assignDate,jdbcType=VARCHAR},
      assign_time = #{record.assignTime,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      remarks = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.nepm.mbg.model.AqiFeedback">
    update aqi_feedback
    <set>
      <if test="telId != null">
        tel_id = #{telId,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="information != null">
        information = #{information,jdbcType=VARCHAR},
      </if>
      <if test="estimatedGrade != null">
        estimated_grade = #{estimatedGrade,jdbcType=INTEGER},
      </if>
      <if test="afDate != null">
        af_date = #{afDate,jdbcType=VARCHAR},
      </if>
      <if test="afTime != null">
        af_time = #{afTime,jdbcType=VARCHAR},
      </if>
      <if test="gmId != null">
        gm_id = #{gmId,jdbcType=INTEGER},
      </if>
      <if test="assignDate != null">
        assign_date = #{assignDate,jdbcType=VARCHAR},
      </if>
      <if test="assignTime != null">
        assign_time = #{assignTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where af_id = #{afId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.nepm.mbg.model.AqiFeedback">
    update aqi_feedback
    set tel_id = #{telId,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      information = #{information,jdbcType=VARCHAR},
      estimated_grade = #{estimatedGrade,jdbcType=INTEGER},
      af_date = #{afDate,jdbcType=VARCHAR},
      af_time = #{afTime,jdbcType=VARCHAR},
      gm_id = #{gmId,jdbcType=INTEGER},
      assign_date = #{assignDate,jdbcType=VARCHAR},
      assign_time = #{assignTime,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR}
    where af_id = #{afId,jdbcType=INTEGER}
  </update>
</mapper>