<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.nepm.mbg.mapper.StatisticsMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.nepm.mbg.model.Statistics">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="so2_value" jdbcType="INTEGER" property="so2Value" />
    <result column="so2_level" jdbcType="INTEGER" property="so2Level" />
    <result column="co_value" jdbcType="INTEGER" property="coValue" />
    <result column="co_level" jdbcType="INTEGER" property="coLevel" />
    <result column="spm_value" jdbcType="INTEGER" property="spmValue" />
    <result column="spm_level" jdbcType="INTEGER" property="spmLevel" />
    <result column="aqi_id" jdbcType="INTEGER" property="aqiId" />
    <result column="confirm_date" jdbcType="VARCHAR" property="confirmDate" />
    <result column="confirm_time" jdbcType="VARCHAR" property="confirmTime" />
    <result column="gm_id" jdbcType="INTEGER" property="gmId" />
    <result column="fd_id" jdbcType="VARCHAR" property="fdId" />
    <result column="information" jdbcType="VARCHAR" property="information" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, province_id, city_id, address, so2_value, so2_level, co_value, co_level, spm_value, 
    spm_level, aqi_id, confirm_date, confirm_time, gm_id, fd_id, information, remarks
  </sql>
  <select id="selectByExample" parameterType="com.neusoft.nepm.mbg.model.StatisticsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from statistics
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from statistics
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neusoft.nepm.mbg.model.StatisticsExample">
    delete from statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neusoft.nepm.mbg.model.Statistics">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into statistics (province_id, city_id, address, 
      so2_value, so2_level, co_value, 
      co_level, spm_value, spm_level, 
      aqi_id, confirm_date, confirm_time, 
      gm_id, fd_id, information, 
      remarks)
    values (#{provinceId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{so2Value,jdbcType=INTEGER}, #{so2Level,jdbcType=INTEGER}, #{coValue,jdbcType=INTEGER}, 
      #{coLevel,jdbcType=INTEGER}, #{spmValue,jdbcType=INTEGER}, #{spmLevel,jdbcType=INTEGER}, 
      #{aqiId,jdbcType=INTEGER}, #{confirmDate,jdbcType=VARCHAR}, #{confirmTime,jdbcType=VARCHAR}, 
      #{gmId,jdbcType=INTEGER}, #{fdId,jdbcType=VARCHAR}, #{information,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.nepm.mbg.model.Statistics">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="so2Value != null">
        so2_value,
      </if>
      <if test="so2Level != null">
        so2_level,
      </if>
      <if test="coValue != null">
        co_value,
      </if>
      <if test="coLevel != null">
        co_level,
      </if>
      <if test="spmValue != null">
        spm_value,
      </if>
      <if test="spmLevel != null">
        spm_level,
      </if>
      <if test="aqiId != null">
        aqi_id,
      </if>
      <if test="confirmDate != null">
        confirm_date,
      </if>
      <if test="confirmTime != null">
        confirm_time,
      </if>
      <if test="gmId != null">
        gm_id,
      </if>
      <if test="fdId != null">
        fd_id,
      </if>
      <if test="information != null">
        information,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="so2Value != null">
        #{so2Value,jdbcType=INTEGER},
      </if>
      <if test="so2Level != null">
        #{so2Level,jdbcType=INTEGER},
      </if>
      <if test="coValue != null">
        #{coValue,jdbcType=INTEGER},
      </if>
      <if test="coLevel != null">
        #{coLevel,jdbcType=INTEGER},
      </if>
      <if test="spmValue != null">
        #{spmValue,jdbcType=INTEGER},
      </if>
      <if test="spmLevel != null">
        #{spmLevel,jdbcType=INTEGER},
      </if>
      <if test="aqiId != null">
        #{aqiId,jdbcType=INTEGER},
      </if>
      <if test="confirmDate != null">
        #{confirmDate,jdbcType=VARCHAR},
      </if>
      <if test="confirmTime != null">
        #{confirmTime,jdbcType=VARCHAR},
      </if>
      <if test="gmId != null">
        #{gmId,jdbcType=INTEGER},
      </if>
      <if test="fdId != null">
        #{fdId,jdbcType=VARCHAR},
      </if>
      <if test="information != null">
        #{information,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.nepm.mbg.model.StatisticsExample" resultType="java.lang.Integer">
    select count(*) from statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update statistics
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.provinceId != null">
        province_id = #{record.provinceId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null">
        city_id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.so2Value != null">
        so2_value = #{record.so2Value,jdbcType=INTEGER},
      </if>
      <if test="record.so2Level != null">
        so2_level = #{record.so2Level,jdbcType=INTEGER},
      </if>
      <if test="record.coValue != null">
        co_value = #{record.coValue,jdbcType=INTEGER},
      </if>
      <if test="record.coLevel != null">
        co_level = #{record.coLevel,jdbcType=INTEGER},
      </if>
      <if test="record.spmValue != null">
        spm_value = #{record.spmValue,jdbcType=INTEGER},
      </if>
      <if test="record.spmLevel != null">
        spm_level = #{record.spmLevel,jdbcType=INTEGER},
      </if>
      <if test="record.aqiId != null">
        aqi_id = #{record.aqiId,jdbcType=INTEGER},
      </if>
      <if test="record.confirmDate != null">
        confirm_date = #{record.confirmDate,jdbcType=VARCHAR},
      </if>
      <if test="record.confirmTime != null">
        confirm_time = #{record.confirmTime,jdbcType=VARCHAR},
      </if>
      <if test="record.gmId != null">
        gm_id = #{record.gmId,jdbcType=INTEGER},
      </if>
      <if test="record.fdId != null">
        fd_id = #{record.fdId,jdbcType=VARCHAR},
      </if>
      <if test="record.information != null">
        information = #{record.information,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update statistics
    set id = #{record.id,jdbcType=INTEGER},
      province_id = #{record.provinceId,jdbcType=INTEGER},
      city_id = #{record.cityId,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      so2_value = #{record.so2Value,jdbcType=INTEGER},
      so2_level = #{record.so2Level,jdbcType=INTEGER},
      co_value = #{record.coValue,jdbcType=INTEGER},
      co_level = #{record.coLevel,jdbcType=INTEGER},
      spm_value = #{record.spmValue,jdbcType=INTEGER},
      spm_level = #{record.spmLevel,jdbcType=INTEGER},
      aqi_id = #{record.aqiId,jdbcType=INTEGER},
      confirm_date = #{record.confirmDate,jdbcType=VARCHAR},
      confirm_time = #{record.confirmTime,jdbcType=VARCHAR},
      gm_id = #{record.gmId,jdbcType=INTEGER},
      fd_id = #{record.fdId,jdbcType=VARCHAR},
      information = #{record.information,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.nepm.mbg.model.Statistics">
    update statistics
    <set>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="so2Value != null">
        so2_value = #{so2Value,jdbcType=INTEGER},
      </if>
      <if test="so2Level != null">
        so2_level = #{so2Level,jdbcType=INTEGER},
      </if>
      <if test="coValue != null">
        co_value = #{coValue,jdbcType=INTEGER},
      </if>
      <if test="coLevel != null">
        co_level = #{coLevel,jdbcType=INTEGER},
      </if>
      <if test="spmValue != null">
        spm_value = #{spmValue,jdbcType=INTEGER},
      </if>
      <if test="spmLevel != null">
        spm_level = #{spmLevel,jdbcType=INTEGER},
      </if>
      <if test="aqiId != null">
        aqi_id = #{aqiId,jdbcType=INTEGER},
      </if>
      <if test="confirmDate != null">
        confirm_date = #{confirmDate,jdbcType=VARCHAR},
      </if>
      <if test="confirmTime != null">
        confirm_time = #{confirmTime,jdbcType=VARCHAR},
      </if>
      <if test="gmId != null">
        gm_id = #{gmId,jdbcType=INTEGER},
      </if>
      <if test="fdId != null">
        fd_id = #{fdId,jdbcType=VARCHAR},
      </if>
      <if test="information != null">
        information = #{information,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.nepm.mbg.model.Statistics">
    update statistics
    set province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      so2_value = #{so2Value,jdbcType=INTEGER},
      so2_level = #{so2Level,jdbcType=INTEGER},
      co_value = #{coValue,jdbcType=INTEGER},
      co_level = #{coLevel,jdbcType=INTEGER},
      spm_value = #{spmValue,jdbcType=INTEGER},
      spm_level = #{spmLevel,jdbcType=INTEGER},
      aqi_id = #{aqiId,jdbcType=INTEGER},
      confirm_date = #{confirmDate,jdbcType=VARCHAR},
      confirm_time = #{confirmTime,jdbcType=VARCHAR},
      gm_id = #{gmId,jdbcType=INTEGER},
      fd_id = #{fdId,jdbcType=VARCHAR},
      information = #{information,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>